@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact Information";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <hgroup class="title">
        <h1>@Page.Title</h1>
    </hgroup>

    <section class="contact">
        <header>
            <h3>Phone:</h3>
        </header>
        <p>
            <span>410.474.8203</span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Email:</h3>
        </header>
        <p>
            <span><a href="mailto:Support@example.com">malorydodge@gmail.com</a></span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Social Media:</h3>
        </header>
        <p>

            <span><a href="https://www.facebook.com/malory.dodge" class="fa fa-facebook"></a></span>
            &nbsp;
            <span><a href="https://www.instagram.com/_maloryd/" class="fa fa-instagram"></a></span>

        </p>
    </section>